<mat-toolbar class="header">
    <h1 class="title">NotiBot</h1>
    <img src="assets/Images/Logo.png" alt="Logo" class="logo">
</mat-toolbar>

<div class="help-content">
    <div class="welcome">
        <h1>Bienvenido a la seccion de ayuda</h1>
        <p class="sub">En este apartado obtendras toda la informacion necesaria para poder anadir y modificar nuevos
            proveedores de noticias.</p>
    </div>
    <div class="content">
        <div class="section" id="section-info">
            <h2>Informacion</h2>
            <p class="sub">Para anadir y modificar proveedores es necesario un conocimiento muy basico de HTML.
                Simplemente, se debe saber:
            </p>
            <ul>
                <li>Abrir HTML de una pagina: simplemente debes hacer click derecho en el elemento que quieres extraer y
                    seleccionar
                    "inspeccionar elemento."
                </li>
                <li>Tag: nombre del elemento HTML.</li>
                <li>Class: clase del elemento HTML.</li>
                <li>Atributo: otra informacion que contiene el elemento HTML.
                    <p class="sub">Nota: los no funcionan como atributos.</p>
                </li>
            </ul>
            <p>Se te dara la opcion de escoger entre Tag, Class o Atributo para anadir distintos elementos del
                proveedor.
                Puedes escoger cualquiera de los tres, luego la aplicacion realizara una comprobacion para evaluar si se
                obtiene algun elemento.
            </p>
            <p class="sub">Tambien se pueden dejar vacios (dejando la opcion "Seleccionar") y la aplicacion intentara
                obtener los
                elementos de otra manera, pero esto no se seguro que funcione correctamente ya que el codigo HTML de
                cada pagina
                varia mucho con respecto a otras.</p>
        </div>
        <hr class="rounded">
        <div class="section" id="section-article">
            <h2>Noticias</h2>
            <p class="sub">Esto se refiere a las noticias que se muestran en la pagina principal del proveedor.
            </p>
            <p>Para las noticias, si tienen el Tag "article", preferiblemente se escoge esta opcion ya que es la que
                mejor funciona.
            </p>
        </div>
        <hr class="rounded">
        <div class="section" id="section-paragraph">
            <h2>Primer parrafo</h2>
            <p class="sub">Esto se refiere al primer contenido que se encuentra dentro de cualquier noticia.
            </p>
            <p>Este sera el texto que se muestre en Discord para cada noticia.
            </p>
        </div>
        <hr class="rounded">
        <div class="section" id="section-topics">
            <h2>Categorias</h2>
            <p class="sub">Esto se refiere a algun elemento que se encuentre en la lista de categorias de noticias.
            </p>
            <p>Normalmente se encuentran debajo del titulo del proveedor y muestra diferentes opciones.
            </p>
        </div>
        <hr class="rounded">
    </div>
    <mat-toolbar class="footer"><app-user [image]=image [name]=name [discriminator]=discriminator></app-user></mat-toolbar>