<div class="checklist">
  <div class="check-item" [ngClass]="{ 'incorrect': link, 'empty': error === 'nothing', 'correct': !link}">
    <span class="check-label">Link</span>
    <i class="material-icons">done</i>
  </div>
  <div class="check-item" [ngClass]="{ 'incorrect': article, 'empty': link , 'correct': !article && !link}">
    <span class="check-label">Article</span>
    <i class="material-icons">done</i>
  </div>
  <div class="check-item"
    [ngClass]="{ 'incorrect': paragraph, 'empty': article , 'correct': !paragraph && !article && !link}">
    <span class="check-label">Paragraph</span>
    <i class="material-icons">done</i>
  </div>
  <div class="check-item"
    [ngClass]="{ 'incorrect': topic, 'empty': paragraph, 'correct': !topic && !paragraph && !article && !link}">
    <span class="check-label">Topic</span>
    <i class="material-icons">done</i>
  </div>
</div>