<div>
  <form #loginForm="ngForm">
      <h3>Website</h3>
      <div>
        <label>Link:</label>
        <input [(ngModel)]="website.webSite" name="websiteLink">
      </div>
      <div>
        <label>Name:</label>
        <input [(ngModel)]="websiteName.webSiteName" name="websiteName">
      </div>
      <h3>Article</h3>
      <div>
        <label>Type:</label>
        <select [(ngModel)]="article.type" (change)="toggleArticle(article.type)" name="articleType">
          <option value="">Select</option>
          <option value="Tag">Tag</option>
          <option value="Class">Class</option>
          <option value="Attribute">Attribute</option>
        </select>
      </div>
      <div *ngIf="showArticleAttributeName">
        <label>Attribute Name:</label>
        <input [(ngModel)]="article.attributeName" name="articleAttributeName" required>
      </div>
      <div *ngIf="showArticleValue">
        <label>Value:</label>
        <input [(ngModel)]="article.value" name="articleValue" required>
      </div>
      <h3>Paragraph</h3>
      <div>
        <label>Type:</label>
        <select [(ngModel)]="paragraph.type" (change)="toggleParagraph(paragraph.type)" name="paragraphType">
          <option value="">Select</option>
          <option value="Tag">Tag</option>
          <option value="Class">Class</option>
          <option value="Attribute">Attribute</option>
        </select>
      </div>
      <div *ngIf="showParagraphAttributeName">
        <label>Attribute Name:</label>
        <input [(ngModel)]="paragraph.attributeName" name="paragraphAttributeName" required>
      </div>
      <div *ngIf="showParagraphValue">
        <label>Value:</label>
        <input [(ngModel)]="paragraph.value" name="paragraphValue" required>
      </div>
      <h3>Topic</h3>
      <div>
        <label>Type:</label>
        <select [(ngModel)]="topic.type"  (change)="toggleTopic(topic.type)"name="topicType">
          <option value="">Select</option>
          <option value="Tag">Tag</option>
          <option value="Class">Class</option>
          <option value="Attribute">Attribute</option>
        </select>
      </div>
      <div *ngIf="showTopicAttributeName">
        <label>Attribute Name:</label>
        <input [(ngModel)]="topic.attributeName" name="topicAttributeName" required>
      </div>
      <div *ngIf="showTopicValue">
        <label>Value:</label>
        <input [(ngModel)]="topic.value" name="topicValue" required>
      </div>
  </form>
  <button (click)="submitForm()" [disabled]="loginForm.form.invalid">Submit</button>
</div>