<div>
    <form>
      <h3>Website</h3>
      <div>
        <label>Link:</label>
        <input [(ngModel)]="website.webSite" name="websiteLink">
      </div>
      <h3>Article</h3>
      <div>
        <label>Type:</label>
        <input type="text" [(ngModel)]="article.type" name="articleType" [value]="showArticleAttributeName ? 'Attribute' : article.type" [readonly]="showArticleAttributeName">
      </div>
      <div *ngIf="showArticleAttributeName">
        <label>Attribute Name:</label>
        <input [(ngModel)]="article.attributeName" name="articleAttributeName" required>
      </div>
      <div>
        <label>Value:</label>
        <input [(ngModel)]="article.value" name="articleValue" required>
      </div>
      <div>
        <input type="checkbox" [(ngModel)]="showArticleAttributeName" (change)="toggleAttributeName('article')">
        <label>Set as Attribute</label>
      </div>
      <h3>Paragraph</h3>
      <div>
        <label>Type:</label>
        <input type="text" [(ngModel)]="paragraph.type" name="paragraphType" [value]="showParagraphAttributeName ? 'Attribute' : paragraph.type" [readonly]="showParagraphAttributeName">
      </div>
      <div *ngIf="showParagraphAttributeName">
        <label>Attribute Name:</label>
        <input [(ngModel)]="paragraph.attributeName" name="paragraphAttributeName" required>
      </div>
      <div>
        <label>Value:</label>
        <input [(ngModel)]="paragraph.value" name="paragraphValue" required>
      </div>
      <div>
        <input type="checkbox" [(ngModel)]="showParagraphAttributeName" (change)="toggleAttributeName('paragraph')">
        <label>Set as Attribute</label>
      </div>
      <h3>Topic</h3>
      <div>
        <label>Type:</label>
        <input type="text" [(ngModel)]="topic.type" name="topicType" [value]="showTopicAttributeName ? 'Attribute' : topic.type" [readonly]="showTopicAttributeName">
      </div>
      <div *ngIf="showTopicAttributeName">
        <label>Attribute Name:</label>
        <input [(ngModel)]="topic.attributeName" name="topicAttributeName" required>
      </div>
      <div>
        <label>Value:</label>
        <input [(ngModel)]="topic.value" name="topicValue" required>
      </div>
      <div>
        <input type="checkbox" [(ngModel)]="showTopicAttributeName" (change)="toggleAttributeName('topic')">
        <label>Set as Attribute</label>
    </div>
    <button (click)="submitForm()">Submit</button>
  </form>
</div>