<div class="background">
  <div class="container">
    <div>
      <h2>Añadir nuevo proveedor de noticias:
        <button mat-icon-button (click)="openHelp()">
          <mat-icon>info</mat-icon>
        </button>
      </h2>
    </div>
    <form #loginForm="ngForm">
      <h3>Sitio web del proveedor de noticias</h3>
      <div>
        <label>Link:</label>
      </div>
      <input [(ngModel)]="provider.webSite" name="websiteLink" required>

      <div>
        <label>Nombre:</label>
      </div>
      <input [(ngModel)]="provider.webSiteName" name="websiteName" required>

      <hr class="rounded">
      <h3>Noticias</h3>
      <p class="sub" >Selecciona la manera en la que se muestran las noticias del proveedor.</p>
      <div>
        <label>Tipo:</label>
        <select [(ngModel)]="provider.tipoArticulo" (change)="toggleArticle(provider.tipoArticulo)"
          name="providerArticleType">
          <option value="">Seleccionar</option>
          <option value="Tag">Tag</option>
          <option value="Class">Class</option>
          <option value="Attribute">Attributo</option>
        </select>
      </div>
      <div>
        <label>Valor:</label>
      </div>
      <input [disabled]="!showArticleValue" [(ngModel)]="provider.valorArticulo" name="providerArticleValue" required>

      <div>
        <label>Nombre del atributo:</label>
      </div>
      <input [disabled]="!showArticleAttributeName" [(ngModel)]="provider.attributeNameArticulo"
        name="providerArticleAttributeName" required>

      <hr class="rounded">
      <h3>Primer parrafo</h3>
      <p class="sub" >Selecciona la manera en la que se muestra el primer parrafo dentro de las noticias.</p>
      <div>
        <label>Tipo:</label>
        <select [(ngModel)]="provider.tipoParrafo" (change)="toggleParagraph(provider.tipoParrafo)"
          name="providerParagraphType">
          <option value="">Seleccionar</option>
          <option value="Tag">Tag</option>
          <option value="Class">Class</option>
          <option value="Attribute">Attributo</option>
        </select>
      </div>
      <div>
        <label>Valor:</label>
      </div>
      <input [disabled]="!showParagraphValue" [(ngModel)]="provider.valorParrafo" name="providerParagraphValue"
        required>

      <div>
        <label>Nombre del atributo:</label>
      </div>
      <input [disabled]="!showParagraphAttributeName" [(ngModel)]="provider.attributeNameParrafo"
        name="providerParagraphAttributeName" required>

      <hr class="rounded">
      <h3>Categorias</h3>
      <p class="sub" >Selecciona la manera en la que se muestran las categorias de noticias del proveedor.</p>
      <div>
        <label>Tipo:</label>
        <select [(ngModel)]="provider.tipoTopic" (change)="toggleTopic(provider.tipoTopic)" name="providerTopicType">
          <option value="">Seleccionar</option>
          <option value="Tag">Tag</option>
          <option value="Class">Class</option>
          <option value="Attribute">Attributo</option>
        </select>
      </div>
      <div>
        <label>Valor:</label>
      </div>
      <input [disabled]="!showTopicValue" [(ngModel)]="provider.valorTopic" name="providerTopicValue" required>

      <div>
        <label>Nombre del atributo:</label>
      </div>
      <input [disabled]="!showTopicAttributeName" [(ngModel)]="provider.attributeNameTopic"
        name="providerTopicAttributeName" required>

    </form>
    <app-checks [error]=error *ngIf="showChecks"></app-checks>
    <button class="submit-button" (click)="submitForm()" *ngIf="showChecks">Comprobar de nuevo</button>
    <button class="submit-button" (click)="submitForm()" [disabled]="loginForm.form.invalid">Submit</button>
  </div>
</div>

