.provider-table{
    background-color: #263159;
    color: white;
}

.link-cell{
    color: white;
}

.table-cell{
    color: white;
}

.table-header{
    text-transform: uppercase;
    color: white;
}

.upper-buttons{
    padding-top: 5px;
    padding-bottom: 3px;
}

.server-select{
    min-width: 300px;
}


